*{
    margin:0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(123, 46, 36);
    color:rgb(207, 170, 178);
    display:block;
    text-align:left;
    padding-left:2%;
    font-size: 3em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    border-style:solid;
    box-shadow: 5px yellow;
    margin-bottom:50px;

}

.about ul{
    display:block;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2em;
    margin-bottom:20%;
    list-style: disc;
}

.about li{
    color:hsl(0, 42%, 53%)
}

.about a{
    text-decoration: none;
    color:brown;
    text-shadow: 1px 1px 2px;
    text-indent: 10%;
}
#butn{
    border-radius: 4px;
    color:hsl(0, 100%, 50%);
    border-color: hsl(0, 100%, 25%);
    text-align: center;
    text-transform: uppercase;
}
#butn:hover{
        border-radius:6px;
        border-color:crimson;
        box-shadow: 1px 1px;
        background-color: rgb(254, 254, 254);
    
}

#butn{
    padding: right 5px;
    margin-left : 30%;
    background-color: rgb(208, 182, 149);
    
}

#butn a{
    color:hsl(320, 35%, 22%);
    text-decoration: none;
    text-align: center;

}