<!DOCTYPE html>
<html>
<head>
    
    <title>Weather App</title>
    <link rel="icon" type="image/png" href="/static/images/icon.png">

    {% if atmos in ['Rain','Drizzle'] %}
        <link rel="stylesheet" href="/static/css_files/rain.css">

    {% elif atmos == 'Thunderstorm' %}
        <link rel="stylesheet" href="/static/css_files/thuder.css">

    {% elif atmos == 'Clouds' %}
        <link rel="stylesheet" href="/static/css_files/clouds.css">

    {% elif atmos == 'Clear' %}
        <link rel="stylesheet" href="/static/css_files/clear.css">

    {% elif atmos == 'Snow'  %}
        <link rel="stylesheet" href="/static/css_files/snow.css">

    {% else %}
        <link rel="stylesheet" href="/static/css_files/main.css">
    {% endif %}

    
    

</head>
<body id="body">
<header>
    <a  class="img" href="/"><img id='logo' src="/static/images/icon2.png" alt="logo of weather webapp"></a>    
   
    <div class="nav">
        <nav>
            
            <div>
                <h1 id="navhead">Weather App</h1>
            </div>
            <ul id = 'list'>
                <li><a href="/">Home</a></li>
                <li><a href="/static/html_files/about.html">About</a></li>
                
            </ul>
        </nav>
    </div>
</header>
<br>
<br>
<main>
    <form method="POST" action="/" id="form" class="flex-container" >
        <label for="city" >Enter City Name:</label>
        <input id="city" class="flex-item" name="city" autofocus="autofocus" required placeholder="city">
        <input id='button' class='flex-item' type="submit" value="Get Weather">
    </form>
    <section class="section"> 
        <br>
        {% if city %}
        {% if weather %}
            <h3>Weather in {{ city }}:</h3>
            <br>
            <a href="https://en.wikipedia.org/wiki/{{weather.description}}" target="_blank"><p>Description: {{ weather.description }}</p></a>
            <br>
            <p>Temperature: {{ weather.temperature }}°C</p>
            <br>
            <a href="https://en.wikipedia.org/wiki/Humidity" target="_blank"><p>Humidity: {{ weather.humidity }}%</p></a>
            <br>
            <p>Wind Speed: {{ weather.wind_speed }} km/hr</p>
        {% else %}
            <p>{{ error }}</p>
        {% endif %}
    {% endif %}
    </section>
</main>    
    
    
</body>
</html>
